body {
	width: 100%;
	background: url('../img/m-logo2.png')no-repeat;
	background-size: cover; 
	background-clip: padding-box;
	bottom: 0;
}
.intro {
	width: 100%;
	margin-top: 100px 200px 100px 200px;
	padding: 150px 100px 150px 150px;
	
}

.intro h1 { 
	font-family: Lobster, sans-serif;
	font-size: 3.8em;
	line-height: 1.1em;
	text-shadow: #171717 0px 0px 10px;
	font-weight: normal;
	 }
.intro #top h1:hover {
	-webkit-transform: rotate(3deg) scale(1.00);
	-moz-transform: rotate(3deg) scale(1.00);
	transform: rotate(3deg) scale(1.00);
}
.intro h3 {
	font-family: Georgia, serif;
	font-size: 0.75em;
	letter-spacing: 3px;
	text-transform: uppercase;
	word-spacing: 0.15em;
	color: #777;
	text-shadow: #000 0px -1px 0px;
	margin-top: -35px;
}

nav {
	margin-top: 10px;
	font-family: "Yanone Kaffeesatz", sans-serif;
	font-size: 1.6em;
	text-transform: uppercase;
}
nav a {
	margin: 0em 0.3em;
	-webkit-transition: text-shadow 0.2s, margin 0.5s;
	-moz-transition: text-shadow 0.2s, margin 0.5s;
	transition: text-shadow 0.2s, margin 0.5s;
	text-shadow: #171717 0px 0px 6px;
	text-decoration: none;
	color: #264268;
	
}
nav a:hover {
	text-shadow: #887 0px 0px 10px;
	margin: 0em 0.5em;
	color: #DCE8E7;
	font-size: bolder;
}
nav a.thispage.diacritics {
	padding-top: 0.1em;
}
nav a.thispage {
	border: 1px dashed #555;
	background-color: #3c3c3c;
	padding: 0em 0.2em;
	text-shadow: none;
	-webkit-transition: border 0.5s, background 0.5s, margin 0.5s, text-shadow 0.5s;
	-moz-transition: border 0.5s, background 0.5s, margin 0.5s, text-shadow 0.5s;
	transition: border 0.5s, background 0.5s, margin 0.5s, text-shadow 0.5s;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
}
nav a.thispage:hover {
	border: 1px dashed transparent;
	background: none;
}

/* Medium ------------ */
@media screen and (max-width: 768px) {
	body {
	width: 100%; 
}
.intro {
	width: 100%; } 
}
/* Smaller ----------- */
@media screen and (max-width : 650px) {
	body {
		width:100%;
}
.intro {
	width: 100%; }
.intro-img {
		display: none;
	}
}
