header {
	width: 100%;
	height: 40px;
	
}
nav {
	float: right;
	margin: 0 20px; 	
}
nav ul {
	padding-left: 10px;	
}
nav ul li {
	display: inline;
	list-style-type: none;
}
nav ul li a {
	text-decoration: none;
	padding-right: 5px;
	color: #373434;
	font-size: 0.9em;
}
nav ul li:hover {
	text-decoration: underline;
}
nav ul li img {
	margin-bottom: -5px;
}
.btn {
	background: #2E9AFE;
	padding: 6px 6px 6px 8px;
	border-radius: 3px;	
}
.btn:hover {
	background: #2E7AFE;
	text-decoration: none;
}
.btn span{
	color: white;
	font-weight: bold;
	}

	/* main section*/

	.main {
		width: 45%;
		margin: auto;
		margin-top: 150px;
	}
	.main p {
		text-align: center;
	}
	.main input {
		width: 100%;
		height: 25px;	
		background: url('../img/micro.png')no-repeat right;
		background-size: 25px 25px;
		cursor: pointer;
		border-width: thin;
	    border-style: solid;
	    border-color: #c8c8c8;
	}
	.main input:hover {
	border-color: #8b8b8b;
}
  .main input:focus {
    border-style: solid;
	  border-width: thin;
	  border-color: #4585ef;
	  outline: none;
    }

	.main ul {
		margin-top: 20px;
		margin-left: 110px;
	}
	.main ul li {
		display: inline;
		list-style-type: none;
		padding: 8px;
		background: #F2F2F2;
		border-radius: 3px;
		font-size: 0.8em;
		border: 1px solid #D8D8D8;
	}
	.main ul li:hover {
		border-bottom: 2px solid #D8D8D8;
	}

	/* footer section*/
footer {
	position: absolute;
	bottom: 0;
	background-color: #f1f1f1;
	height: 35px;
	border-top: 1px solid #ddd;
	color: #333;
	width: 100%;
}
footer .left {
	width: 25%;
	float: left;
	padding: 10px 10px;
	text-decoration: none;
	color: #777777;
}
footer .right {
	width: 25%;
	float: right;
	padding: 10px 20px;	
}

footer .left a {
	font-size: 0.9em;
	padding-left: 20px;
	text-decoration: none;
	color: #777777;
}
footer .right a {
	font-size: 0.9em;
	padding-right: 20px;
	text-decoration: none;
	color: #777777;
}
footer a:hover {
	text-decoration: underline;
}

/* Medium ------------ */
@media screen and (max-width: 868px) {
	body {
		width: 100%;
}
header {
	width: 100%;
}
.main {
	width: 60%;
}
.main input {
		width: 100%;
		height: 20px;
	}
	.main ul {
		margin-top: 20px;
		margin-left: 50px;
	}
	.main ul li {
		display: inline;
	}
	footer {
		width: 100%;
		height: 40px;
	}
	footer .left {
	width: 30%;
	float: left;
	padding: 10px 10px;
	text-decoration: none;
	color: #777777;
}
footer .right {
	width: 35%;
	float: right;
	padding: 10px 10px;
	
}

footer .left a {
	font-size: 0.75em;
	padding-left: 10px;
	text-decoration: none;
	color: #777777;
}
footer .right a {
	font-size: 0.75em;
	padding-right: 10px;
	text-decoration: none;
	color: #777777;
}

	}

/* Smaller ----------- */
@media screen and (max-width : 650px) {
	body {
		width: 100%;
}
header {
	width: 100%;
}
nav {
	float: left;
	margin-left: 70px;
	margin-top: 20px;	
}
.main {
	width: 80%;
}
.main input {
		width: 100%;
		height: 20px;
	}
	.main ul {
		margin-top: 20px;
		margin-left: 1px;
	}
	.main ul li {
		display: inline-block;
	}
	footer {
		width: 100%;
		height: 50px;
	}
	footer .left {
	width: 40%;
	float: left;
	padding: 5px 5px;
	text-decoration: none;
	color: #777777;
}
footer .right {
	width: 45%;
	float: right;
	padding: 5px 5px;
	
}

footer .left a {
	font-size: 0.6em;
	padding-left: 10px;
	text-decoration: none;
	color: #777777;
}
footer .right a {
	font-size: 0.6em;
	padding-right: 10px;
	text-decoration: none;
	color: #777777;
}
}